@use 'src/styles/vars' as v;

.charity_main {
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem;
    background-color: v.$third-color;

    &_wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 4rem;

        &_text {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            width: 65vw;
            padding: 3rem;
            border: 2px solid v.$first-color;
            border-radius: 1.6rem;
            box-shadow: -20px -20px 60px v.$second-color,
            20px 20px 60px v.$third-color;

            &--title {
                font-size: 8rem;
                font-weight: 700;
            }

            &--text {
                font-size: 1.75rem;
                font-weight: 200;
            }

            &--btn {
                background-color: v.$first-color;
                color: v.$third-color;
                border: 0px;
                font-weight: 800;
                padding: 1rem;
                font-size: 1.5rem;
                box-shadow: v.$first-color 1px 1px 5px 1px;
                width: fit-content;
                border-radius: 1.2rem;
                transition: all 0.5s ease 0s;
                align-self: flex-end;
                margin-right: 10rem;

                &:hover {
                    color: v.$first-color;
                    box-shadow: v.$second-color 1px 1px 80px 2px;
                    background: v.$fourth-color repeat scroll 0% 0%;
                    transition: all 1s ease 0s;
                }
            }
        }

        &_img {
            width: 35vw;
            transition: transform 1s, box-shadow 1s;

            &:hover {
                cursor: pointer;
                transform: rotate3d(2, -10, -1, -35deg);
                transition: transform 1s, box-shadow 1s;
            }
        }

    }

    &_suite {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 6rem;
        gap: 0.2rem;
        border-radius: 1.5rem;
        background: linear-gradient(45deg, v.$second-color, v.$third-color);
        margin: 3rem 0;

        &--title {
            font-weight: 700;
            -webkit-text-stroke: 1px v.$first-color;
            color: transparent;
            font-size: 6rem;
            text-transform: uppercase;
            text-align: center;
        }

        &--underTitle {
            font-weight: 600;
            font-size: 2rem;
            text-align: center;
        }

        &_wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 2rem;
            gap: 2rem;

            &_item {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 1rem;
                text-align: center;
                justify-content: center;
                border: 1px solid v.$first-color;
                border-radius: 1.1rem;
                width: 20rem;
                height: 10rem;
                gap: 0.6rem;
                transition: transform 1s, box-shadow 1s, background 1s, color 1s;

                &:nth-child(1) {
                    background-color: v.$second-color;

                    &:hover {
                        cursor: pointer;
                        transition: transform 1s,
                            box-shadow 1s,
                            background 1s,
                            color 1s;
                        -webkit-transform: scale(1.1) rotate(-2deg);
                        -ms-transform: scale(1.1) rotate(-2deg);
                        transform: scale(1.1) rotate(-2deg);
                        background-color: v.$first-color;
                        color: v.$fourth-color
                    }
                }

                &:nth-child(2) {
                    background-color: v.$fourth-color;

                    &:hover {
                        cursor: pointer;
                        transition: transform 1s,
                            box-shadow 1s,
                            background 1s,
                            color 1s;
                        -webkit-transform: scale(1.1) rotate(-2deg);
                        -ms-transform: scale(1.1) rotate(-2deg);
                        transform: scale(1.1) rotate(-2deg);
                        background-color: v.$third-color;
                        color: v.$first-color
                    }
                }

                &:nth-child(3) {
                    background-color: v.$first-color;
                    color: v.$fourth-color;

                    &:hover {
                        cursor: pointer;
                        transition: transform 1s,
                            box-shadow 1s,
                            background 1s,
                            color 1s;
                        -webkit-transform: scale(1.1) rotate(-2deg);
                        -ms-transform: scale(1.1) rotate(-2deg);
                        transform: scale(1.1) rotate(-2deg);
                        background-color: v.$second-color;
                        color: v.$first-color
                    }
                }

                &--title {
                    font-size: 3rem;
                    font-weight: 700;
                }

                &--text {
                    font-size: 1.1rem;
                    font-weight: 300;
                }
            }
        }
    }

    &_how {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 6rem;
        gap: 0.2rem;

        &--title {
            font-weight: 700;
            -webkit-text-stroke: 2px v.$second-color;
            color: v.$fourth-color;
            font-size: 6rem;
            text-transform: uppercase;
            text-align: center;
        }

        &--underTitle {
            font-weight: 600;
            font-size: 2rem;
            text-align: center;
            margin-bottom: 3rem;
        }

        &_wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 2rem;
            gap: 4rem;

            &_bigItem {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 2rem;
                text-align: left;
                justify-content: center;
                border: 1px solid v.$first-color;
                border-radius: 1.1rem;
                width: 40rem;
                gap: 0.6rem;
                transition: transform 1s, box-shadow 1s, background 1s, color 1s;
                background-color: v.$first-color;
                color: v.$fourth-color;

                &:hover {
                    cursor: pointer;
                    transition: transform 1s,
                        box-shadow 1s,
                        background 1s,
                        color 1s;
                    -webkit-transform: scale(1.1);
                    -ms-transform: scale(1.1);
                    transform: scale(1.1);
                    background-color: v.$first-color;
                    color: v.$fourth-color
                }

                &--title {
                    align-self: flex-start;
                    font-size: 3rem;
                    font-weight: 700;
                    text-align: center;
                }

                &--text {
                    font-size: 1.1rem;
                    font-weight: 300;
                }
            }

            &_item {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 2rem;
                text-align: center;
                justify-content: center;
                border: 1px solid v.$first-color;
                border-radius: 1.1rem;
                width: 20rem;
                gap: 1rem;
                transition: transform 1s, box-shadow 1s, background 1s, color 1s;
                background-color: v.$second-color;
                color: v.$fourth-color;

                &:hover {
                    cursor: pointer;
                    transition: transform 1s,
                        box-shadow 1s,
                        background 1s,
                        color 1s;
                    -webkit-transform: scale(1.1) translateY(3rem);
                    ;
                    -ms-transform: scale(1.1) translateY(3rem);
                    ;
                    transform: scale(1.1) translateY(3rem);
                    background-color: v.$fourth-color;
                    color: v.$first-color
                }

                &--title {
                    align-self: flex-start;
                    font-size: 3rem;
                    font-weight: 700;
                }

                &--text {
                    font-size: 1.1rem;
                    font-weight: 300;
                }

                &--btn {
                    background-color: v.$third-color;
                    color: v.$first-color;
                    border: 2px solid v.$second-color;
                    font-weight: 800;
                    padding: 1rem;
                    font-size: 1.3rem;
                    border-radius: 1.2rem;
                    transition: all 0.5s ease 0s;

                    &:hover {
                        color: v.$first-color;
                        box-shadow: v.$second-color 1px 1px 80px 2px;
                        background: v.$fourth-color repeat scroll 0% 0%;
                        transition: all 1s ease 0s;
                    }
                }
            }


        }
    }
}

@media screen and (max-width: 1200px) {
    .charity_main {
        &_wrapper {
            &_text {
                &--title {
                    font-size: 8rem;
                }
                &--text {
                    font-size: 1.6rem;
                }
            }
            &_img {
                width: 50vw;
            }
        }
        
        &_suite {
            &_wrapper {
                flex-direction: column;
            }
        }
    }
}

@media screen and (max-width: 1050px) {
    .charity_main {
        &_wrapper {
            gap: 1.5rem;
            flex-direction: column-reverse;
            gap: 3rem;
            &_text {
                width: 80vw;
                &--btn {
                    align-self: center;
                    margin-right: 0rem;
                }
            }
        }
        &_how {
            &_wrapper {
                flex-direction: column;
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .charity_main {
        padding: 2rem 0rem;
        &_wrapper {
            &_text {
                width: 90vw;
                &--title {
                    text-align: center;
                    font-size: 7rem;
                }
                &--text {
                    font-size: 1.4rem;
                }
            }
        }

        &_suite {
            gap: 1.5rem;
            &--title {
                font-size: 5rem;
            }
        }

        &_how {
            gap: 1.5rem;
            &--title {
                font-size: 5rem;
            }
            &_wrapper {
                &_bigItem {
                    width: auto;
                    gap: 1rem;
                }
            }
        }
    }
}

@media screen and (max-width: 578px) {
    .charity_main {
        &_wrapper {
            &_text {
                width: 95vw;
                &--title {
                    font-size: 5rem;
                }
                &--text {
                    font-size: 1.2rem;
                }
            }
        }

        &_suite {
            gap: 1.5rem;
            &--title {
                font-size: 3.5rem;
            }
        }

        &_how {
            gap: 1.5rem;
            &--title {
                font-size: 3.5rem;
            }
            &_wrapper {
                
                &_bigItem {
                    width: auto;
                    gap: 1rem;
                }
            }
        }
    }
}