@use 'src/styles/vars'as v;

// Style général de la page SignUp
.signup {
    display: flex;
    height: 100%;
    width: 100%;
    background: v.$third-color;

    &_brand {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: right;
        width: 45%;
        padding: 0 3rem 8rem 3rem;

        &_logo {
            font-size: 4.5rem;
            font-weight: 800;
            margin: 0 0 0.75rem;
        }

        &_text {
            font-size: 3.5rem;
            font-weight: 100;
            text-align: right;
        }
    }

    &-wrapper {
        display: flex;
        width: 55%;
        gap: 1.5rem;
        align-items: left;
        flex-direction: column;
        justify-content: center;
        background-color: v.$second-color;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        ;
        color: v.$first-color;

        &-title {
            display: flex;
            justify-content: center;
            gap: 0.5rem;
            align-items: center;
            font-size: 2.75rem;
            font-weight: 600;
            text-align: center;
        }
    }
}


.signup_form-text {
    font-size: 1.1rem;
    width: 100%;
    text-align: center;

    a {
        color: v.$third-color;
        font-weight: 700;
        font-size: 1.2rem;
        cursor: pointer;
    }
}

.back-btn {
    padding: 0.5rem;
    background-color: transparent;
    color: v.$first-color;
    font-size: 1.5rem;
    border: 0px;
    font-weight: 800;
    width: fit-content;
    margin-left: 7rem;
    transition: all 0.75s ease 0s;
    border-radius: 1.2rem;

    &:hover {
        transform: translateX(-20px);
        color: v.$first-color;
        box-shadow: v.$third-color 1px 1px 80px 2px;
        background: v.$third-color repeat scroll 0% 0%;
        transition: all 0.75s ease 0s;
    }
}

@media screen and (max-width: 1024px) {
    .signup {
        flex-direction: column;
        align-items: center;

        &_brand {
            text-align: center;
            width: 100%;
            padding: 2rem;

            &_logo {
                font-size: 4rem;
            }

            &_text {
                font-size: 2.2rem;
                text-align: center;
            }
        }

        &-wrapper {
            width: 100%;
            height: 100%;
        }
    }
}

@media screen and (max-width: 480px) {
    .signup {
        &_brand {
            &_logo {
                font-size: 3rem;
            }

            &_text {
                font-size: 1.6rem;
                font-weight: 200;
            }
        }

        &-wrapper {
            padding: 2rem 1rem;
            gap: 1rem;
        }
    }

    .back-btn {
        display: none;
    }
}
