@use 'src/styles/vars' as v;

.stats {
    border-bottom: 0.5rem dashed v.$second-color;
    border-radius: 0px 0px 300px 300px;

    &_list {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 9rem;

        &-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5rem;
            width: 200px;
            padding: 1.5rem;
            border-radius: 1.2rem;
            background-color: v.$second-color;
            outline: 6px dotted v.$first-color;
            ;

            &-title {
                font-size: 2rem;
                font-weight: 400;
                color: v.$fourth-color;
            }
        }

        .number_wrapper {
            display: flex;
            justify-content: center;
            align-items: center;

            &-text {
                font-size: 3rem;
                font-weight: 800;
                color: v.$fourth-color;
            }

            &-shape {
                color: v.$first-color;
                font-size: 4rem;
                font-weight: 700;
                padding-left: 0.8rem
            }
        }

    }
}


@media screen and (max-width: 992px) {
    .stats {
        &_list {
            flex-direction: column;
            gap: 4rem;
        }
    }
}

@media screen and (max-width: 700px) {
    .stats {
        &_list {
            display: flex;
            flex-direction: column;
            gap: 4rem;

            &-item {

                &-title {
                    font-size: 1.75rem;
                }
            }

            .number_wrapper {
                &-text {
                    font-size: 2rem;
                }

                &-shape {
                    font-size: 3rem;
                }
            }
        }
    }
}