@use 'src/styles/vars' as v;

.filter_container{
    display: flex;
    flex-direction: column;
    padding: 2rem 0rem;
    background-color: v.$third-color;
}

.filter_wrapper {
    display: flex;
    height: auto;
    max-height: 900px;
    background-color: v.$second-color;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    border-bottom: 4px solid v.$fourth-color;
}