@use 'src/styles/vars' as v;

.filter_container{
    display: flex;
    flex-direction: column;
    padding: 2rem 0rem;
    background-color: v.$third-color;
}

.filter_container-menu {
    position: sticky;
    top: 0;
    z-index: 10;
}

.filter_container-attributes {
    display: flex;
    background-color: v.$second-color;
    border-bottom: 90px solid v.$fourth-color;
    scrollbar-width: none;
}