@use 'src/styles/vars' as v;

.card {
    display: flex;
    width: 270px;
    height: 350px;
    border-radius: 10px;
    margin: 0 15px;
    padding: 0 12%;
    transform: rotate3d(2, -5, -1, 0deg);
    background-color: v.$third-color;
    margin-bottom: 6rem;

    &_cover {
        width: 100%;
        border-radius: 15px;
        margin-top: -20%;
        align-self: center;
        box-shadow: 2px 4px 8px #585858;
        transition: transform 1.5s;
        border: 2px solid #2c2a2b;
    }

    &_info_upper {
        display: flex;
        font-size: 1.2rem;
        justify-content: space-between;
        flex-wrap: nowrap;
        align-items: center;
        padding: 10% 0 5%;
        border-bottom: 2px solid rgba(172, 172, 172, 0.2705882353);

        & span:nth-child(1) {
            font-size: 1.8rem;
            font-weight: 700;
        }

        & span:nth-child(1) i {
            line-height: 1;
            font-size: .75em; 
        }
    }

    &_info_lower {
        display: flex;
        justify-content: space-between;
        padding: 4% 0 6%;
        color: #2c2a2b;

        &-price {
            display: flex;
            flex-direction: column;

            &-text {
                font-size: 1.2rem;
                font-weight: 400;
                text-align: left;
                margin-top: 0;
            }

            &-crypto {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                font-size: 2rem;
                color: #2c2a2b;
                font-weight: 600;

                & img:nth-child(1) {
                    width: 29px;
                    height: 43px;
                    filter: grayscale(1);
                }
            }

            &-currency {
                color: #2c2a2b;
                font-weight: 700;
                margin-bottom: 0;
            }
        }

        &-market {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &-text {
                font-size: 1.2rem;
                text-align: right;
                font-weight: 400;
                margin-top: 0;
            }

            &-btn {
                font-size: 0.9rem;
                color: #e4dfdc;
                box-shadow: 2px 4px 6px #2c2a2b;
                background: #2c2a2b repeat scroll 0% 0%;
                transition: all 0.5s ease 0s;
                border: 2px solid #2c2a2b;
                font-weight: 900;
                border-radius: 10px;
                margin: 10% 0;
                padding: 0.5rem;
                text-align: right;
            }
        }
    }
}  