@use 'src/styles/vars' as v;

.filter_menu{
    display: flex;
    align-items: center;
    background: v.$third-color !important;
    border: none !important;
    box-shadow: none !important;
    padding: 0 0 0.5rem 1.2rem;

    gap: 2rem;

    &_dropdown{
        border-radius: 1.2rem !important;
        border: none !important;
            &::after {
            background: v.$second-color !important;

        }

    }
}