@use 'src/styles/vars' as v;

.filter_menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: v.$fourth-color !important;
    border: 4px solid v.$fourth-color !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    padding: 1.2rem;
    gap: 2rem;

    &_search {
        color: v.$first-color !important;
        
        input {
            width: 15vw !important;
            border: none !important;
            &::placeholder {
                color: v.$first-color !important;
                font-weight: 800;
                font-size: 1.05rem;
            };
        };
    };

    &_dropdown {
        border-radius: 1.2rem !important;
        border: none !important;
        width: 10vw !important;
        font-weight: 800;
    };

    &_button {
        border: none;
        border-radius: 50%;
        padding: .5rem;
        background-color: v.$fourth-color;

        &-icon {
            cursor: pointer;
            margin: 0 !important;
        }
    };
}